<!DOCTYPE html>

<html>
	<body>
		<div align="center">
			<h1>Create Student</h1>
			<form th:object="${student}" th:action="@{/add}" method="post">
				<table border="0" cellpadding="10">
					<tr>
						<td>ID:</td>
						<td><input type="text" th:field="*{id}" th:placeholder="${session.nameid}"/></td>
						<td>
							<span th:text="${mess != null ? mess : ''}"></span>
							<span th:text="${mess1 != null ? mess1 : ''}"></span>
						</td>
					</tr>
					<tr>
						<td>Name:</td>
						<td><input type="text" th:field="*{name}" th:placeholder="${session.name}"/></td>
						<td>
							<span th:text="${mess2 != null ? mess2 : ''}" ></span>
						</td>
					</tr>
					<tr>
						<td>DOB:</td>
						<td><input type="text" th:field="*{dob}" th:placeholder="${session.namedob}"/></td>
						<td>
							<span th:text="${mess3 != null ? mess3 : ''}" ></span>
						</td>
					</tr>
					<tr>
						<td>Department:</td>
						<td>
							<select name="department">
								<option value="">Hay chon department</option>
								<option value="option1" th:selected="${session.namedepartment == 'option1'}">Option1</option>
								<option value="option2" th:selected="${session.namedepartment == 'option2'}">Option2</option>
								<option value="option3" th:selected="${session.namedepartment == 'option3'}">Option3</option>
							</select>
						</td>
						<td>
							<span th:text="${mess4 != null ? mess4 : ''}" ></span>
						</td>
					</tr>
					<tr>
						<td colspan="2" style="text-align: center;">
							<input type="submit" value="add" name="add" />
							<input type="submit" value="reset" name="reset" />
						</td>
					</tr>
				</table>
			</form>
		</div>
	</body>
</html>